---
import Layout from '../layouts/group/Layout.astro';
import Banner from '../components/Banner.astro';
import WhoWeAre from '../components/WhoWeAre.astro';
import Container from '../components/Container.astro';

// const { slug = 'home' } = Astro.params;
// let res = await fetch(`https://fullertonhealth.com/wp-json/wp/v2/pages?slug=${slug}`);
// let [post] = await res.json();
// // The getStaticPaths() is required for static Astro sites.
// // If using SSR, you will not need this function.
// export async function getStaticPaths() {
//   let data = await fetch("https://fullertonhealth.com/wp-json/wp/v2/pages")
//   let posts = await data.json();
//   return posts.map((post: { slug: any; }) => ({
//     params: { slug: post.slug },
//     props: { post: post },
//   }));
// }
---
<Layout title="Fullerton Health | Affordable & Accessible Healthcare in Asia" meta_description="We are the leading integrated healthcare platform to provide affordable and accessible care for all in Asia. Learn more about us." body_class="home">
  <div class="main">
  
    <Banner bannerImage="/images/country_bg-1.jpg" bannerTitle="Fullerton Health | Affordable & Accessible Healthcare in Asia" className=""></Banner>
    <WhoWeAre></WhoWeAre>

    <section id="about">
      <Container className="about text-center pd-top-10 pd-bottom-10 pd-left-10 pd-right-10">
        <h1>About Fullerton Health</h1>
        <p>Founded in 2010, Fullerton Health is a leading vertically integrated healthcare platform in Asia with a proven track record of providing clients and patients with enterprise healthcare solutions. We own and operate an extensive network of healthcare facilities across 9 markets and partner with established and reputable healthcare providers in the region.</p>
        <video  src="https://www.fullertonhealth.com/sg/wp-content/uploads/2024/05/FullertonHealthCorporateVideo2023-full-1.mp4" controls="" preload="metadata" controlslist="nodownload" poster="/images/corporatevideo2023thumb.jpg"></video>
      </Container>      
    </section>

    <section id="healthcare-partner" style="background: url('/images/Your-Comprehensive-Healthcare-Partner-bg.png');" class="has-bg">
      <Container className="about text-center pd-top-10 pd-left-10 pd-right-10">
          <div class="link-card-grid grid-2">
            <div class="item-grid-1">
              <img src="/images/One-Family-Doctor-and-One-Health-Plan-for-Everyone-4.png" alt="TeYour Comprehensive Healthcare Partner
" loading="eager">
            </div>
            <div class="item-grid-2">
                <h2>Your Comprehensive Healthcare Partner</h2>
                <p>Discover a comprehensive range of healthcare services at Fullerton Health. Whether you’re an individual, a corporate client, or an insurer, we offer diagnostic, specialty, chronic, and ancillary care to cater to your unique needs. We also provide comprehensive care programs for managing chronic conditions, focusing on disease management, prevention, and ongoing support.</p>
            </div>
          </div>
      </Container>
    </section>

    <Banner bannerImage="/images/sg-background.jpg" bannerTitle="Fullerton Health Singapore | Affordable & Accessible Healthcare in Asia" className=""></Banner>

    <Banner bannerImage="/images/ph-background.jpg" bannerTitle="Fullerton Health Philippines | Affordable & Accessible Healthcare in Asia" className=""></Banner>

    <Banner bannerImage="/images/indonesia-background.jpg" bannerTitle="Fullerton Health Indonesia | Affordable & Accessible Healthcare in Asia" className=""></Banner>

    <Banner bannerImage="/images/othercountries-background.jpg" bannerTitle="Fullerton Health Other Country | Affordable & Accessible Healthcare in Asia" className=""></Banner>
  </div>
</Layout>

<style>
  #about video {
    width: 100%;
  }
  #healthcare-partner {
    padding: 40px 0 0 0;
  }
  #healthcare-partner img {
    max-height: fit-content;
  }
  #healthcare-partner .link-card-grid.grid-2 {
    grid-template-columns: 40% 60%;
  }
</style>