---
const {  className ="" } = Astro.props;

interface Props {
  className: string;
}
---

<div class={`content__container  ${className}`}>
  <slot></slot>
</div>

<style>
.pd-top-10 {
  padding-top: 10px;
}
.pd-bottom-10 {
  padding-bottom: 10px;
}
.pd-left-10 {
  padding-left: 10px;
}
.pd-right-10 {
  padding-right: 10px;
}
</style>
